#container_box .inputArea {float:right; display:inline-block; margin-right:50px;}
#container_box table {width:1100px; display:inline-block;}
#container_box table th {font-size: 20px; font-weight:bold; text-align:center; padding:10px; border-bottom: 2px solid #666;}
#container_box table th:hover {background:#eee;}
#container_box table td {padding:10px; text-align:center; width:120px;}
#container_box table img {width:150px; height:auto;}