#container_box table td{width:100px;}
#container_box ul li {border:10px solid #eee; margin-bottom:20px;}

.replyInfo {background:#eee; padding:10px; font-size:18px;}
.replyInfo span {font-size:20px; font-weight:bold; margin-right:20px;}
.replyContent {padding:10px;}

.replyControll {text-align:right; padding:10px;}
.replyControll button {border:2px solid #999; background:#fff; transition-duration:0.5s;}
.replyControll button:hover {color:#fff; background:#000;}