#container_box table td{width:100px;}

div#container_box ul li {border:5px solid #eee; padding:10px 20px; margin:15px; width:47%; display:inline-block;}
div#container_box .orderList span {fint-size:20px; font-weight:bold; display:inline-block; width:90px; margin-right:10px;}

