body {font-family:'맑은 고딕', verdana; padding:0; margin:0;}
a { color:#05f; text-decoration:none; }
ul {padding:0; margin:0; list-style:none;}

div#root {width:90%; margin:0 auto;}

header#header {font-size:60px; padding:20px 0;}
header#header h1 a {color:#000; font-weight:bold;}

nav#nav {padding:10px; text-align:right;}
nav#nav ul li {display:inline-block; margin-left:10px;}
nav#nav ul li a{color:#000;}

section#container {padding:20px 0; border-top:2px solid #eee; border-bottom:2px solid #eee;}
section#container::after {content:""; display:block; clear:both;}

div#container_box {float:right; width:calc(100% - 200px - 20px);}
div#container_box h2 {margin-bottom:20px;}

aside {float:left; width:200px;}
aside ul li {text-align:center; margin-bottom:10px;}
aside ul li a {display:block; width:100%; padding:10px 0; color:#000;}
aside ul li a:hover {background:#eee;}

#TopBtn {outline:none; border:none; position:fixed; right:2%; float:right; margin-right:30px; bottom:50px; display:none; z-index:999; background:none;}
#TopImg {width:15px; height:30px;}

footer#footer {background:#f9f9f9; padding:20px; margin-top:100px; border-radius:5px 5px 0 0; position:absolute; bottom:0; width:100%; }
footer#footer ul li {display:inline-block; margin-right:10px;}
