<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smilevle.mapper.commentMapper">
	<select id="commentList" parameterType="java.lang.Integer" resultType="com.smilevle.review.comment.model.CommentVO">
		select * from tbl_review_comment 
			where review_no = #{review_no} 
			order by comment_no
	</select>
</mapper>