<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smilevle.mapper.commentMapper">
	<select id="commentList" parameterType="java.lang.Integer" resultType="com.smilevle.review.comment.model.CommentVO">
		select * from tbl_review_comment 
			where review_no = #{reviewNo} 
			order by comment_no
	</select>
	
	<insert id="writeComment" parameterType="com.smilevle.review.comment.model.CommentVO">
		insert into tbl_review_comment values (#{commentNo}, #{reviewNo}, #{writerId}, #{regdate}, #{content})
	</insert>
	
	<select id="getCommentNo" resultType="int">
		select review_comment_seq.nextval from dual
	</select>
	
	<delete id="deleteComment" parameterType="java.lang.Integer">
		delete from tbl_review_comment where comment_no = #{commentNo}
	</delete>
</mapper>