<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="smilevle.mapper.coronaMapper">
	<insert id="insert" parameterType="java.util.HashMap">
		<![CDATA[
		insert into tbl_corona values(#{areaCode}, #{localName}, #{count} ,#{regDate}, CORONA_SEQ.nextval)
		]]>
	</insert>
	
	<update id="update" parameterType="java.util.HashMap">
		<![CDATA[
		update tbl_corona set count = #{count} where areacode = #{localName}
		]]>
	</update>
	
	<select id="selectList" parameterType="java.util.HashMap" resultType="com.smilevle.corona.model.CoronaVO">
		<![CDATA[
			select * from (select rownum as rnum,
					areacode, count from (SELECT avg(count) as count, areaCode FROM (SELECT * FROM TBL_corona WHERE TO_CHAR(regdate, 'YYYYMMDD') > sysdate - 7) group by areacode order by count) 
					where rownum <= #{size})	
					]]>
	</select>


	



	<!--<select id="getTourList" parameterType="java.util.HashMap" resultType="com.smilevle.tour.model.TourVO">
		<![CDATA[
		select *
		from (select * from tbl_tour order by read_cnt desc)
		where RowNum <= #{size} and content_type_id = #{contentTypeId}
		]]>
		<if test='areaCode != ""'>
			<![CDATA[AND areaCode = #{areaCode}]]>
		</if>
	</select>-->












</mapper>