<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="smilevle.mapper.reviewMapper">
	<select id="selectReviewList" parameterType="java.util.HashMap" resultType="com.smilevle.review.model.PReviewVO">
		<![CDATA[
		select * 
			from (select rownum as rnum, review_no, writer_id, writer_name, title, areacode, location_name, rate, content, regdate, moddate, read_cnt, photo_url 
					from (select * from tbl_review rv natural join tbl_review_attach ac order by review_no desc) 
						where rownum <= #{end}) 
			where rnum >= #{start}		
		]]>
	</select>
	
	<select id="getReviewNo" resultType="int">
		select max(review_no) from tbl_review
	</select>
	
	<select id="reviewCount" resultType="int">
		select count(*) from tbl_review
	</select>
	
	<select id="selectById" parameterType="java.util.HashMap" resultType="com.smilevle.review.model.ReviewVO">
		select * from tbl_review where review_no = #{reviewNo}
	</select>
	
	<insert id="insertReview" parameterType="com.smilevle.review.model.ReviewVO">
		<![CDATA[
		insert into tbl_review values(review_seq.nextVal, #{writer_id}, #{writer_name}, #{title}, #{areacode}, #{location_name}, #{rate}, #{content}, #{regDate}, #{modDate}, 0)
		]]>
	</insert>
	
	<insert id="insertAttach" parameterType="com.smilevle.review.model.AttachVO">
		<![CDATA[
		insert into tbl_review_attach values(photo_seq.nextVal, #{review_no}, #{photo_url})
		]]>
	</insert>
</mapper>

