<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="smilevle.mapper.tourMapper">
	<select id="getTourList" parameterType="java.util.HashMap" resultType="com.smilevle.tour.model.TourVO">
		<![CDATA[
		select *
		from (select * from tbl_tour order by read_cnt desc)
		where RowNum <= #{size} and content_type_id = #{contentTypeId}
		]]>
		<if test='areaCode != ""'>
			<![CDATA[AND areaCode = #{areaCode}]]>
		</if>
	</select>

	<select id="selectById" parameterType="java.util.HashMap" resultType="com.smilevle.tour.model.TourVO">
		<![CDATA[
		select *
		select * from tbl_tour where content_id = #{contentId}
		]]>
	</select>
	
	<update id="increaseReadCount" parameterType="java.util.HashMap">
		<![CDATA[
		update tbl_tour set read_cnt = read_cnt + 1 where content_id = #{contentId}
		]]>
	</update>

	<!--<select id="selectUserInfoAll" resultType="hashMap">
    <![CDATA[
		SELECT id, username, password
		FROM TBL_USER
	]]>
    </select>

    <insert id="addUserInfo" >
    <![CDATA[
        insert into TBL_USER(id ,username, password)
        values(#{id}, #{userName}, #{passWord})
     ]]>
    </insert>-->

	<!-- map에 있는 키 값을 가지고 조회하여 파라미터값을 전달해준다.  -->
	<!--<select id="findByUserNameLike" parameterType="map" resultType="hashMap">
		SELECT
			ID,
			USERNAME,
			PASSWORD
		FROM TBL_USER
		WHERE USERNAME LIKE '%${userName}%'
	</select>-->

	<!--<select id="findByUserName" parameterType="map" resultMap="userResultMap">
		SELECT
			ID,
			USERNAME,
			PASSWORD
		FROM TBL_USER
		WHERE USERNAME = #{userName}
	</select>-->
	<!-- resultMap 태그를 이용해서 클래스 필드와 데이터베이스 필드를 매핑하는 역할을 한다. -->
	<!--<resultMap type="info.thecodinglive.model.UserVO" id="userResultMap">
		<result property="id" column="id"/>
		<result property="userName" column="username"/>
		<result property="passWord" column="password"/>
	</resultMap>-->

	<!--<select id="foreachUserList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    	SELECT
     ID,
     USERNAME,
     PASSWORD
    FROM TBL_USER
    WHERE ID IN
    	<foreach collection="user_list" item="userId" index="index" open="(" close=")" separator=",">
    		#{userId}
    	</foreach>
    </select>-->

</mapper>