<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="smilevle.mapper.tourMapper">

	<select id="getSmallCategoryCount" parameterType="java.util.HashMap" resultType="com.smilevle.tour.model.TotalCountVO" >
		<![CDATA[select c1.common_name as local_name, s1.count from 
		(select count(*) as count, small_category from tbl_tour where content_type_id = 32 and areaCode = (
select common_id from tbl_common_code where common_name = #{localName}) group by small_category) s1 
inner join tbl_common_code c1 on s1.small_category = c1.common_id
]]>
	</select>

	<select id="getTotalCount" resultType="com.smilevle.tour.model.TotalCountVO">
		select common_name as local_name, count from (select areacode, count(*) as count from tbl_tour where 
		content_type_id = 32 group by areacode order by areacode) t1,
		tbl_common_code c1 where t1.areacode = c1.common_id
	</select>

	<select id="getTourList" parameterType="java.util.HashMap" resultType="com.smilevle.tour.model.TourVO">
		<![CDATA[
		select *
		from (select * from tbl_tour order by read_cnt desc)
		where RowNum <= #{size} and content_type_id = #{contentTypeId}
		]]>
		<if test='areaCode != ""'>
			<![CDATA[AND areaCode = #{areaCode}]]>
		</if>
	</select>

	<select id="selectById" parameterType="java.util.HashMap" resultType="com.smilevle.tour.model.TourVO">
		<![CDATA[
		select * from tbl_tour where content_id = #{contentId}
		]]>
	</select>

	<update id="increaseReadCount" parameterType="java.util.HashMap">
		<![CDATA[
		update tbl_tour set read_cnt = read_cnt + 1 where content_id = #{contentId}
		]]>
	</update>

	<select id="selectList" parameterType="java.util.HashMap" resultType="com.smilevle.tour.model.TourVO">
		<![CDATA[
		select * 
		from (select rownum as rnum, content_id, title, areacode, address, first_image, read_cnt, tel, map_x, map_y, content_type_id, middle_category, 
		small_category 
		from (select * from TBL_TOUR where content_type_id = #{where}
		]]>
		<if test='areaCode != ""'>
			<![CDATA[AND areaCode = #{areaCode}]]>
		</if>

		<if test='searchWord != ""'>
			<![CDATA[ AND title LIKE '%'||#{searchWord}||'%']]>
		</if>
		<if test='smallCategory != ""'>
			<![CDATA[AND small_category = #{smallCategory}]]>
		</if>
		<![CDATA[order by read_cnt desc) where rownum <= #{endRow}) where rnum >= #{startRow}]]>
	</select>

	<select id="selectCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		<![CDATA[
		select count(*) from tbl_tour where content_type_id= #{where}]]>
		<if test='areaCode != ""'>
			<![CDATA[ AND areaCode = #{areaCode}]]>
		</if>
		<if test='searchWord != ""'>
			<![CDATA[ AND title LIKE '%'||#{searchWord}||'%']]>
		</if>
		<if test='smallCategory != ""'>
			<![CDATA[ AND small_category = #{smallCategory}]]>
		</if>
	</select>

	<!-- 숙소등록 -->
	<insert id="register">
		insert into tbl_tour(content_id, title, areacode, address, first_image, map_x, map_y, tel, read_cnt, content_type_id, middle_category, small_category, homepage, image_list, content)
		values(tour_id_seq.nextval, #{title}, #{areaCode}, #{address}, #{firstImage}, #{mapX}, #{mapY}, #{tel}, 0, '32', null, #{smallCategory}, #{homepage}, #{firstImage}, #{content})
	</insert>

	<!-- 숙소 수정 -->
	<update id="modify">
		update tbl_tour
		set
			title = #{title}, 
			areacode = #{areaCode}, 
			address = #{address}, 
			first_image = #{firstImage}, 
			map_x = #{mapX}, 
			map_y = #{mapY}, 
			tel = #{tel}, 
			read_cnt = #{readCnt}, 
			content_type_id = #{contentTypeId}, 
			middle_category = #{middleCategory}, 
			small_category = #{smallCategory}, 
			homepage = #{homepage}, 
			image_list = #{firstImage}, 
			content = #{content}
		where content_Id = ${contentId}
	</update>

	<delete id="delete">
		delete tbl_tour
		where content_id = #{contentId}
	</delete>
</mapper>